// colors
$black: #000000;
$white: #ffffff;
$text-grey: #787878;
$background-grey: #f1f1f1;

// media queries
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;

// shared styles

@mixin content-wrapper {
    width: 100%;
    padding: 32px 24px;
    background-color: $white;
}

@mixin table-grid {
    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr);
    justify-items: flex-start;
    padding: 12px 16px;
}
// TODO: naming conventions for colors
