@import "../../_styles/variables.scss";

.filters {
    height: 38px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

    // open and close animation for the filters section
    &.open {
        height: 100%;
        .sectionLabel {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .sectionLabel {
        display: flex;
        align-items: center;
        gap: 4px;
        padding-bottom: 24px;
        font-weight: 700;
        font-size: 12px;
        cursor: pointer;

        svg {
            transition: transform 0.3s ease-in-out;
        }
    }

    .filterList {
        padding-left: 24px;
        padding-bottom: 24px;
        h6 {
            font-size: 12px;
            padding-bottom: 12px;
        }
        li {
            padding: 4px 0;
            display: flex;
            align-items: center;
            font-size: 12px;
            text-transform: capitalize;
            label {
                padding-left: 8px;
            }

            input,
            label {
                cursor: pointer;
            }
        }
    }
}
